body {
    padding-top: 68px;
 }
 @media (max-width: 979px) {
   body {
     padding-top: 80px;
   }
 }
 .miLogo{
     width: 50px;
     height: auto;
 }
 .d-block_custom{
     width:100%;
     height: auto;
 
 }
 .col-centered{
    float: none;
    margin: 0 auto;
    padding: 0;
 }
 
 .row{
     margin: 20px 0;
 }
 
 .rowCustomHeader{
     margin:0;
     padding: 0;
 }
 h3{
     font-family: "McLaren";
     font-size: 2em;
     margin: 20px;
 
 }
 .miTitulo{
     font-family: "McLaren";
     font-size: 4em;
     text-shadow: 2px 2px gray;
     color: white;
 }
 button{
     margin: 10px;
 }
 /* Style all font awesome icons */
  .fa {
   padding: 10px;
   font-size: 30px;
   width: 50px;
   height: 50px;
   text-align: center;
   text-decoration: none;
 } 
 .container-fluid{
     margin: 0;
     padding: 0;
 }
 
 .navbar{
     padding: 10px 40px;
 }
 .mibackground{
    /* background-image: url("/imagenes/background-3181283_1920.jpg");*/
     background-color: #82E0AA;
     margin: 0;
     padding: 10px 50px 10px 50px;
 }
 .mibackground2{
     background-color:ghostwhite;
     margin: 0;
     padding: 20px 50px 20px 50px;
 }
 .pie{
     background-color: #CACFD2;
     margin: 0;
     padding: 20px 50px 20px 50px;
     
 }
 .pregunta{
     color: white;
 }
 .pregunta2{
     color: black;
     margin-bottom: 40px;
 }
 .parrafo{
     text-align: justify;
     font-size: 1em;
 }
 .rowCustom{
     padding: 0 50px 0 50px;
 }
 .rowCarousel{
     margin: 0;
     padding: 0;
 }
 
 .miFondoPie{
     background-color: #E5E7E9;
     color: black;
     margin: 0;
     padding: 20px 50px 20px 50px;
 
 }
 .linksFooter {
     list-style-type: none;
     margin: 0;
     padding: 5px;
 
 }
 .columna1{
     
 
 } 
 
 .columna2{
 
 }
 
 .columna3{
 
 
 }
 .imgIcon{
     width: 80px;
     height: auto;
 }