	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/10/2018 10:33
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-smartphone:before { content: "\f100"; }
.flaticon-002-buy:before { content: "\f101"; }
.flaticon-003-laptop:before { content: "\f102"; }
.flaticon-004-shopping-online:before { content: "\f103"; }
.flaticon-005-shopping-bag:before { content: "\f104"; }
.flaticon-006-phone:before { content: "\f105"; }
.flaticon-007-check:before { content: "\f106"; }
.flaticon-008-app:before { content: "\f107"; }
.flaticon-009-shopping-cart:before { content: "\f108"; }
.flaticon-010-discount:before { content: "\f109"; }
.flaticon-011-shop:before { content: "\f10a"; }
.flaticon-012-money:before { content: "\f10b"; }
.flaticon-013-cash-register:before { content: "\f10c"; }
.flaticon-014-app-1:before { content: "\f10d"; }
.flaticon-015-shopping-list:before { content: "\f10e"; }
.flaticon-016-phone-1:before { content: "\f10f"; }
.flaticon-017-card-payment:before { content: "\f110"; }
.flaticon-018-pin-code:before { content: "\f111"; }
.flaticon-019-delivery:before { content: "\f112"; }
.flaticon-020-discount-1:before { content: "\f113"; }
.flaticon-021-clothes:before { content: "\f114"; }
.flaticon-022-credit-card:before { content: "\f115"; }
.flaticon-023-dialog:before { content: "\f116"; }
.flaticon-024-discount-2:before { content: "\f117"; }
.flaticon-025-shopping-basket:before { content: "\f118"; }
.flaticon-026-monitor:before { content: "\f119"; }
.flaticon-027-discount-3:before { content: "\f11a"; }
.flaticon-028-credit-card-1:before { content: "\f11b"; }
.flaticon-029-customer-service:before { content: "\f11c"; }
.flaticon-030-box:before { content: "\f11d"; }
.flaticon-031-list:before { content: "\f11e"; }
.flaticon-032-purse:before { content: "\f11f"; }
.flaticon-033-award:before { content: "\f120"; }
.flaticon-034-shopping:before { content: "\f121"; }
.flaticon-035-shopping-online-1:before { content: "\f122"; }
.flaticon-036-shopping-basket-1:before { content: "\f123"; }
.flaticon-037-rating:before { content: "\f124"; }
.flaticon-038-customer-service-1:before { content: "\f125"; }
.flaticon-039-delivery-1:before { content: "\f126"; }
.flaticon-040-receipt:before { content: "\f127"; }
.flaticon-041-pointer:before { content: "\f128"; }
.flaticon-042-discount-4:before { content: "\f129"; }
.flaticon-043-barcode:before { content: "\f12a"; }
.flaticon-044-online-shopping:before { content: "\f12b"; }
.flaticon-045-rating-1:before { content: "\f12c"; }
.flaticon-046-online-shopping-1:before { content: "\f12d"; }
.flaticon-047-payment:before { content: "\f12e"; }
.flaticon-048-shopping-online-2:before { content: "\f12f"; }
.flaticon-049-shopping-basket-2:before { content: "\f130"; }
.flaticon-050-payment-method:before { content: "\f131"; }